---
interface Props {
  title: string
  price: number
  quantity: number
  img: string
}
const { title, price, quantity, img } = Astro.props
---

<li class='flex items-center justify-between mb-2 gap-4  border-b p-2'>
  <div class='flex items-center justify-center w-full'>
    <img class='w-12 h-12 rounded-full' src={img} alt='Product-Image' />
  </div>
  <div class='flex flex-col  w-full'>
    <span class='font-semibold text-start'>{title}</span>
    <span class='text-sm opacity-80'>Precio: s/.{price}</span>
    <span class='text-sm opacity-80'>Cantidad: {quantity}</span>
  </div>
</li>
