---
import CartItem from './CartItem.astro'
import CartLogo from './Icons/CartLogo.astro'
---

<div class='relative inline-block'>
  <!-- Shopping Cart Icon -->
  <button id='cartButton' class='relative z-10 block p-2 focus:outline-none'>
    <CartLogo class='w-6 h-6 text-white' />
  </button>

  <!-- Popover -->
  <div
    id='cartPopover'
    class='absolute right-0 z-20 w-64 p-4 mt-2 text-black bg-white border border-gray-200 rounded-lg shadow-lg opacity-0 invisible transition-opacity duration-200 ease-in-out'
  >
    <h3 class='text-lg font-semibold mb-4 text-center'>Carrito de Compras</h3>
    <ul>
      <CartItem
        title='Blusa Abombada'
        price={140}
        quantity={1}
        img='/clothes/img1.png'
      />
      <CartItem
        title='Falda Short'
        price={171}
        quantity={1}
        img='/clothes/img2.png'
      />
      <CartItem
        title='Blusa'
        price={120}
        quantity={3}
        img='/clothes/img3.png'
      />
    </ul>
    <div class='pt-2 mt-2'>
      <div class='flex items-center justify-between'>
        <span class='font-semibold'>Total:</span>
        <span class='font-semibold'>s/.120.00</span>
      </div>
      <button
        class='w-full px-4 py-2 mt-4 text-white bg-[#fe353c] rounded hover:bg-[#ec161e] active:bg-[#c70e15] focus:outline-none'
      >
        <a href='/shop/shoppingCart'>Ir a Pagar</a>
      </button>
    </div>
  </div>
</div>

<script>
  const cartButton = document.getElementById('cartButton')!
  const cartPopover = document.getElementById('cartPopover')!

  cartButton.addEventListener('click', () => {
    if (cartPopover.classList.contains('opacity-0')) {
      cartPopover.classList.remove('opacity-0', 'invisible')
      cartPopover.classList.add('opacity-100', 'visible')
    } else {
      cartPopover.classList.remove('opacity-100', 'visible')
      cartPopover.classList.add('opacity-0', 'invisible')
    }
  })

  document.addEventListener('click', (event: any) => {
    if (
      !cartButton.contains(event.target) &&
      !cartPopover.contains(event.target)
    ) {
      cartPopover.classList.remove('opacity-100', 'visible')
      cartPopover.classList.add('opacity-0', 'invisible')
    }
  })
</script>
