<section class='w-full bg-[#c4544a] text-white text-center py-10 mt-6'>
  <div
    class='flex flex-col items-center justify-center max-w-screen-lg mx-auto'
  >
    <h2 class='text-xl md:text-2xl font-bold mb-4'>
      OFERTA - Especial 10% de dcto.
    </h2>
    <p class='text-lg opacity-90'>
      Aprovecha ahora y consigue un 10% de descuento en tu primera compra.
    </p>
  </div>
</section>
